* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  line-height: 1.5;
  color: #00262b;
}

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px !important; /* Base size for headings */
  font-weight: 600 !important; /* Bold for emphasis */
  color: #00262b;
  line-height: 1 !important;
}

h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px !important;
  font-weight: 500 !important;
  line-height: 1 !important;
  margin-bottom: 0.8em !important;
}

h4,
h5,
h6 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  color: #00262b;
  line-height: 1.2;
  margin-bottom: 0.6em;
}

p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  color: #00262b;
  line-height: 1.6;
  margin-bottom: 1em;
}

a {
  color: #ffffff;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #ff6347;
  box-shadow: 0 0 5px rgb(227, 61, 32);
}

/* Navbar */
.navbar {
  position: relative;
  z-index: 2;
  width: 100%;
  top: 0;
  font-weight: bold;
  text-align: end;
}
.navbar .container {
  padding: 0px !important;
}
.navbar .navbar-brand {
  position: relative;
  z-index: 3;
  color: #ffffff;
}
.navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
  color: currentColor;
}
@media (min-width: 768px) {
  .navbar {
    margin-top: 0.9rem;
  }
}

.navbar-nav {
  margin-left: auto;
}
.navbar-nav .nav-link {
  position: relative;
  color: #ffffff;
  transition: color 0.3s ease, transform 0.3s ease;
}
.navbar-nav .nav-link:hover, .navbar-nav .nav-link:focus {
  color: #ff6347;
}
.navbar-nav .hireMe-Btn {
  padding: 10px 25px;
  border-radius: 3px;
  color: #ffffff;
  background-color: #e22200;
  border: none;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-left: 1rem;
}

@media (max-width: 768px) {
  /* Navbar collapse */
  .navbar-collapse {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1; /* Ensure it's above other content */
    transform: translateX(100%); /* Initially hidden above the viewport */
    transition: transform 0.3s ease-in-out;
    background-color: #00262b;
  }
  .navbar-collapse .navbar-nav {
    position: absolute;
    top: 15%;
    left: 4.5%;
    text-align: start;
    width: 40%;
    font-weight: 400;
    z-index: 1050;
    padding-left: 4.6rem;
    font-size: 28px;
  }
  .navbar-collapse.show {
    transform: translateX(0);
  }
  /* Custom toggler button (hamburger) */
  .hamburger_btn {
    padding: 0 !important;
    background: none;
    outline: none;
    font-size: 1rem;
    cursor: pointer;
    z-index: 1060; /* Ensure it is on top of collapsed menu */
  }
  .hamburger_btn i {
    color: #ff6347;
    font-size: 30px;
  }
  .hamburger_btn .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  .hamburger_btn,
  .hamburger_btn:focus,
  .hamburger_btn:active {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
  }
  .hireMe-Btn {
    margin: 2rem 0px 0px !important;
    padding: 14px 25px !important;
    width: 60%;
  }
}
@media (max-width: 425px) {
  .hireMe-Btn {
    width: 100%;
  }
  .navbar-nav {
    padding-left: 7px !important;
  }
}
@media (min-width: 425px) {
  .navbar-nav {
    padding-left: 0px !important;
  }
}
.hero-section {
  min-height: 100vh;
  position: relative;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  text-align: left;
  color: #ffffff;
  background-image: url("/src/assets/Background.png");
  background-size: cover; /* Ensures the background fills the container */
  background-repeat: no-repeat;
}
.hero-section span {
  color: #ff6347;
}
.hero-section p {
  color: #ffffff;
}
@media (max-width: 768px) {
  .hero-section {
    padding: 0 2rem;
  }
}

.hero-content {
  flex: 1;
  width: 100%;
  display: flex;
  margin-top: 0;
}
@media (min-width: 768px) {
  .hero-content {
    flex-direction: row;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .hero-content {
    flex-direction: column;
    align-items: center;
    text-align: left;
  }
}

.content-2334 {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .content-2334 {
    width: 600px;
    justify-content: center;
    margin: 1rem 0;
  }
}
@media (max-width: 768px) {
  .content-2334 {
    width: 100%;
    max-width: 600px;
  }
}

.image_2334 {
  max-height: 710px;
  display: flex;
  justify-content: center;
}
@media (min-width: 992px) {
  .image_2334 .photo_2334 {
    max-width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media (min-width: 425px) {
  .image_2334 .photo_2334 {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 425px) {
  .image_2334 .photo_2334 {
    width: 100%;
    height: auto;
  }
}

.profile_2334 {
  padding-top: 2rem;
}
.profile_2334 h1 {
  font-size: clamp(30px, 5vw, 68px) !important;
  margin-bottom: 0.5rem;
}
.profile_2334 h2 {
  font-size: clamp(30px, 4vw, 58px) !important;
  margin-bottom: 1rem;
}
.profile_2334 .hero-description,
.profile_2334 .call-to-action {
  font-size: clamp(14px, 1.8vw, 16px);
  margin-bottom: 0.8rem;
  line-height: 1.5;
}

.btn_2334 {
  padding: 8px 0;
  display: flex;
  flex-direction: row;
  gap: 10px 18px;
}
.btn_2334 .btn {
  padding: 15px;
  border-radius: 3px;
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  width: 100%;
  border: none;
  /* Smooth transition for hover, active, and focus states */
  transition: background-color 0.3s ease, color 0.3s ease, filter 0.3s ease;
}
.btn_2334 .btn:hover {
  filter: brightness(1.5) !important;
}
.btn_2334 .btn.btn-Contact {
  background-color: #00262b;
}
.btn_2334 .btn.btn-Contact:active {
  background-color: #00262b;
  filter: brightness(1.3) !important;
}
.btn_2334 .btn.btn-Cv {
  background-color: #e22200;
}
.btn_2334 .btn.btn-Cv:active {
  background-color: #e22200;
  filter: brightness(1.3) !important;
}
@media (min-width: 768px) {
  .btn_2334 {
    justify-content: flex-start;
    gap: 2rem;
  }
  .btn_2334 .btn {
    width: auto;
    min-width: 250px;
  }
}
@media (max-width: 768px) {
  .btn_2334 {
    justify-content: center;
    flex-wrap: wrap;
  }
  .btn_2334 .btn {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .about-2335 {
    padding-top: 2rem;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center; /* Centers content vertically */
  }
  .aboutMeContent-2335 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 40px;
  }
  .aboutImg-2335 .img {
    max-width: 100%; /* Image will not exceed the container width */
    height: auto; /* Maintain aspect ratio */
    -o-object-fit: cover;
       object-fit: cover; /* Ensure the image covers the area neatly */
    border-radius: 8px; /* Optional: Rounded corners for better aesthetics */
    margin-top: 10px; /* Optional: Spacing between content and image */
  }
  .contentList-2335 {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    -moz-column-gap: 100px;
         column-gap: 100px;
    /* Underline for the active button */
  }
  .contentList-2335 .category-btn {
    padding: 4px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    color: #00262b;
    background-color: transparent;
    transition: all 0.2s ease, color 0.2s ease;
    position: relative; /* To position the underline */
  }
  .contentList-2335 .category-btn.active::after {
    content: "";
    position: absolute;
    bottom: -5px; /* Adjust space between button and underline */
    left: 0;
    width: 100%;
    height: 2px; /* Thickness of the underline */
    background-color: #e22200; /* Customize the underline color */
  }
  .contentList-2335 .category-btn.active,
  .contentList-2335 .category-btn.active::after {
    transition: width 0.2s ease, color #e22200, background-color 0.2s ease;
  }
  .card {
    max-width: 100%;
    background-color: #fff !important;
    border: 2px solid #ddd;
    border-radius: 35px !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 12px;
    margin-bottom: 1rem;
  }
  .card h4 {
    font-size: 18px;
  }
  .card .card-subtitle {
    font-size: 14px;
    color: #555;
    margin: 0;
  }
}
/* Center the entire Skills component */
.skillsContent-2337 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.skillsContent-2337 .skills-title {
  text-align: center;
  padding: 20px 0 20px;
}

/* Positioning of the items */
.item-1 {
  grid-column: 2/span 2;
  grid-row: 1;
}

.item-2 {
  grid-column: 4/span 2;
  grid-row: 1;
}

.item-3 {
  grid-column: 6/8;
  grid-row: 1;
}

.item-4 {
  grid-column: 1/span 2;
  grid-row: 2;
}

.item-5 {
  grid-column: 3/5;
  grid-row: 2;
}

.item-6 {
  grid-column: 5/7;
  grid-row: 2;
}

.item-7 {
  grid-column: 7/9;
  grid-row: 2;
}

.item-8 {
  grid-column: 2/span 2;
  grid-row: 3;
}

.item-9 {
  grid-column: 4/6;
  grid-row: 3;
}

.item-10 {
  grid-column: 6/8;
  grid-row: 3;
}

.item-11 {
  grid-column: 1/3;
  grid-row: 4;
}

.item-12 {
  grid-column: 3/5;
  grid-row: 4;
}

.item-13 {
  grid-column: 5/7;
  grid-row: 4;
}

.item-14 {
  grid-column: 7/9;
  grid-row: 4;
}

.item-15 {
  grid-column: 2/4;
  grid-row: 5;
}

/* Font Awesome icon styling */
.fa-brands {
  font-size: 40px; /* Increase the size of the icon */
}

/* Fade-out class */
.skills-2337 > div.fade {
  opacity: 0;
  transform: scale(0.8); /* Shrinks slightly during transition */
}

/* Icon styling */
.skills-2337 > div i {
  margin-bottom: 10px;
}

.skills-2337 > div p {
  margin: 0;
  font-size: 16px;
}

@media (max-width: 768px) {
  .skillsContent-2337 {
    max-height: 500px;
  }
  .skills-2337 {
    display: grid;
    grid-template-columns: repeat(8, 1fr); /* 8 columns for more items */
    grid-template-rows: auto;
    justify-content: center;
    text-align: center;
    gap: 50px 10px;
    padding: 16px 0px;
    /* Adjust the item positioning for new skills */
  }
  .skills-2337 div {
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #00262b;
    transition: opacity 1s ease, transform 1s ease;
    opacity: 1;
    transform: scale(1);
  }
}
.projectMain-2336 {
  padding: 20px 12px 0px;
  text-align: center;
  background-color: #fef4ea;
  color: #00262b;
}

.main-2336 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.showCase_2336 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}
.showCase_2336 .slideList-2336 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 0 20%;
  overflow: hidden;
}
.showCase_2336 .slideList-2336 .slideButton-2336 {
  width: 100%;
  padding: 16px 0px;
  border: 1px solid #00262b;
  background-color: transparent;
  color: #00262b;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 5px;
}
.showCase_2336 .slideList-2336 .slideButton-2336:hover {
  background-color: #00262b;
  color: #ffffff;
}
.showCase_2336 .slideList-2336 .slideButton-2336.active {
  background-color: #00262b;
  color: #ffffff;
}

.projects_2336 {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
  padding: 30px 0px;
}

.projectImage_2336 {
  width: 100%;
  text-align: center;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  border-radius: 18px;
}

.projectImage_2336:hover {
  transform: translateY(-5px);
}

.projectImage_2336 img {
  max-width: 100%;
  max-height: auto;
  border-radius: 10px;
}

.fa-duotone::before {
  color: #ff6347;
  margin-right: 5px;
}

.projectItem_2336 {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-bottom: 30px;
}

.projectDetails_2336 {
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 1.8;
}

.cart-body {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .main-2336 {
    flex-direction: column;
  }
  .main-2336 .projects_2336 {
    display: block;
    width: 100%;
    flex-direction: row;
  }
  .main-2336 .projects_2336 .projectItem_2336 {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .main-2336 .projects_2336 .projectItem_2336 .projectImage_2336 {
    width: 40%;
    height: auto;
  }
}

.contactMe-2338 {
  position: relative;
  height: 100vh;
  text-align: center;
  padding: 20px 12px 0px;
  background-color: #f9f9f9;
  color: #00262b;
}

.contactInfo-2338 {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.contactItem-2338 {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}

.contactItem-2338 i {
  color: #ff6347;
}

.socialMedia-2338 {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}
.socialMedia-2338 i {
  font-size: 32px;
}
.socialMedia-2338 a {
  font-size: 20px;
  color: #ff6347;
  transition: color 0.3s ease;
}
.socialMedia-2338 a:hover {
  color: #e33d20;
}

.contactContent-2338 {
  margin-top: 20px;
}

.contactForm-2338 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  max-width: 500px;
  margin: 0 auto;
}

.formGroup-2338 {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.submitButton-2338 {
  width: 50%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #00262b;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton-2338:hover {
  background-color: #e33d20;
}

.thankYouMessage {
  margin-top: 15px;
  color: green;
  font-weight: bold;
}

.downArrow-2338 {
  position: fixed;
  right: 20px;
  bottom: 86px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  background-color: #00262b;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.downArrow-2338 a {
  text-decoration: none;
  color: white;
  width: 30px;
}

.downArrow-2338:hover {
  transform: translateY(-5px);
  background-color: #ff6347;
}

.allRight-2338 {
  margin-top: 50px;
  text-align: center;
  font-size: 14px;
  color: #555;
  padding: 20px 0;
  border-top: 1px solid #ccc;
}

.allRight-2338 p {
  margin: 0;
}/*# sourceMappingURL=main.css.map */