@include media-query("md") {
  .about-2335 {
    padding: 20px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center; /* Centers content vertically */
  }
  .content-2335 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
  }

  .aboutMe-2335 {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    flex-wrap: nowrap;
  }

  .Img-2335 {
    width: 100%;
    height: auto;
  }
}
