.contactMe-2338 {
  position: relative;
  height: 100vh;
  text-align: center;
  padding: 20px 20px 0px;
  background-color: #f9f9f9;
  color: $color-text-primary;
}

.contactInfo-2338 {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.contactItem-2338 {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}

.contactItem-2338 i {
  color: #ff6347;
}

.socialMedia-2338 {
  margin-top: 20px;
  display: flex;
  gap: 15px;

  i {
    font-size: 32px;
  }
  a {
    font-size: 20px;
    color: #ff6347;
    transition: color 0.3s ease;
  }
  a:hover {
    color: #e33d20;
  }
}

.contactContent-2338 {
  margin-top: 20px;
}

.contactForm-2338 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  max-width: 500px;
  margin: 0 auto;
}

.formGroup-2338 {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.submitButton-2338 {
  width: 50%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: $color-background-secondary;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton-2338:hover {
  background-color: #e33d20;
}

.thankYouMessage {
  margin-top: 15px;
  color: green;
  font-weight: bold;
}
.downArrow-2338 {
  position: fixed;
  right: 20px;
  bottom: 86px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  background-color: $color-background-secondary;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.downArrow-2338 a {
  text-decoration: none;
  color: white;
}

.downArrow-2338:hover {
  transform: translateY(-5px);
  background-color: $color-text-random;
}

.allRight-2338 {
  margin-top: 50px;
  text-align: center;
  font-size: 14px;
  color: #555;

  padding: 20px 0;
  border-top: 1px solid #ccc;
}

.allRight-2338 p {
  margin: 0;
}
