.hero-section {
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  position: relative;
  color: $color-text-secondary;
  background: url("/src/assets/Background.png") no-repeat center/cover;
  display: flex;
  flex-direction: column;

  span {
    color: $color-text-random;
  }

  p {
    color: $color-text-secondary;
  }
  @include media-query("md", "max") {
    min-height: 100vh;
    height: auto;
    padding: 0 12px;
    text-align: start;
  }

  @include media-query("sm", "max") {
    min-height: 100vh;
    height: auto;
  }
  .hamburger-menu {
    position: relative;
    z-index: 1000; // Ensure the button stays on top

    .close-icon {
      color: $color-text-secondary;
      position: fixed;
      right: 2rem;
      top: 2rem;
    }
  }
}

.hero-container {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-height: calc(100vh - 80px);
}

.hero-content {
  display: flex;
  gap: 2rem;
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
 
  
  @include media-query("md", "max") {
    flex-direction: column;
    align-items: center;
  }
}

.hero-text {
  flex: 1;
  max-width: 600px;
  margin-top: 0;
  align-content: center;

  @include media-query("md", "max") {
    margin-top: 2rem;
  }



  .hero-description,
  .call-to-action {
    font-size: clamp(14px, 1.8vw, 16px);
    margin-bottom: 0.8rem;
    line-height: 1.5;
  }
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 0;
 

  img {
    max-width: 650px;
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

.hero-actions {
  padding: 8px 0;
  display: flex;
  gap: 10px 18px;

  .btn {
    padding: 15px;
    border-radius: 3px;
    color: $color-text-secondary;
    font-weight: bold;
    font-size: 15px;
    width: 100%;
    border: none;
    transition: filter 0.3s ease;
    cursor: pointer;

    &:hover {
      filter: brightness(1.2);
    }

    &:active {
      filter: brightness(0.9);
      transform: scale(0.98);
    }

    &.btn-Contact {
      background-color: $color-background-secondary;
      &:hover, &:active, &:focus {
        background-color: $color-background-secondary;
      }
    }

    &.btn-Cv {
      background-color: #e22200;
      &:hover, &:active, &:focus {
        background-color: #e22200;
      }
    }
  }

  @include media-query("md", "min") {
    justify-content: flex-start;
    gap: 2rem;

    .btn {
      width: auto;
      min-width: 250px;
    }
  }

  @include media-query("md", "max") {
    justify-content: start;
  }

  @include media-query("sm", "max") {
    flex-wrap: wrap;
  }
}

