.hero-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: $color-text-secondary;
  background-image: url("/src/assets/Background.png");
  background-size: cover; /* Ensures the background fills the container */
  background-repeat: no-repeat;

  span {
    color: $color-text-random;
  }
}

/* Global button style */
.btn_2334 {
  padding: 8px 0;
  display: flex;
  flex-direction: row;
  gap: 10px 18px; /* shorthand for column-gap and row-gap */
  flex-wrap: wrap;

  .btn {
    padding: 20px;
    border-radius: 3px;
    color: $color-text-secondary;
    font-weight: bold;
    font-size: 15px;
    width: 100%;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease, filter 0.3s ease; /* Smooth transition for hover, active, and focus states */

    &:hover {
      filter: brightness(1.3) !important;
    }

    &.btn-Contact {
      background-color: $color-background-secondary;

      &:active {
        background-color: $color-background-secondary;
        filter: brightness(1.3) !important;
      }
    }

    &.btn-Cv {
      background-color: #e22200;

      &:active {
        background-color: #e22200;
        filter: brightness(1.3) !important;
      }
    }
  }
}

.photo_2334 {
  @include media-query("sm", "max") {
    max-width: 90%;
    height: auto;
  }
}

.hero-section {
  @include media-query("md", "max") {
    height: fit-content;
    text-align: center;
    flex-direction: column;
    justify-content: start;
  }
}
