.projectMain-2336 {
  padding: 20px !important;
  text-align: center;
  background-color: $color-background-third;
  color: $color-text-primary;
}

.projects_2336 {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
  padding: 30px 0px;
}

.showCase_2336 {
  display: flex;
  transition: transform 0.3s ease-in-out; /* Smooth sliding */
}
.slideList-2336 {
  display: flex;
  flex: 0 0 100%; /* Each slide takes up full width */
  padding: 20px;
  text-align: center;
  justify-content: space-between;

  h6 {
    margin-bottom: 0px;
    align-content: center;
  }
  .pagination {
    border: none;
    background-color: transparent;
    color: $color-text-random;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    padding: 8px 12px;
    transition: color 0.3s ease, background-color 0.3s ease;

    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      color: lighten($color-text-random, 20%);
      background-color: rgba(0, 0, 0, 0.1);
      outline: none;
    }

    &:active:not(:disabled) {
      transform: scale(0.95); // Slight scale down for click feedback
    }

    &:disabled {
      color: gray; // Disabled buttons should be gray or faded
      cursor: not-allowed; // Show "not-allowed" cursor
      opacity: 0.5; // Reduce visibility for disabled state
    }
  }
}

.showList_2336 {
  width: 100%;
  overflow: hidden;
  border: solid $color-text-primary;
  background-color: #f0f0f0;
  border-radius: 10px;
  margin-top: 20px;
}

.projectImage_2336 {
  width: 100%;
  text-align: center;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  border-radius: 18px;
}

.projectImage_2336:hover {
  transform: translateY(-5px);
}
.projectImage_2336 img {
  max-width: 100%;
  max-height: auto;
  border-radius: 10px;
}

.fa-duotone::before {
  color: $color-text-random;
  margin-right: 5px;
}

.projectItem_2336 {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-bottom: 30px;
}
.projectDetails_2336 {
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 1.8;
}
.cart-body {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main-2336 {
  @include media-query("md", "min") {
    flex-direction: column;
    .showList_2336 {
      max-height: fit-content;
    }
    .projects_2336 {
      display: block;
      width: 100%;
      flex-direction: row;

      .projectItem_2336 {
        flex-direction: row;
        justify-content: space-evenly;

        .projectImage_2336 {
          width: 40%;
          height: auto;
        }
      }
    }
  }
}
