@import "../scss/config"; // import config file

body {
  font-family: $font-family-main;
  line-height: $line-height;
  color: $color-text-primary;
  background-color: $color-background-primary;
}
h1 {
  font-family: $font-family-main;
  font-weight: 600; /* Bold for emphasis */
  color: $color-text-primary;
  line-height: 1;
  font-size: clamp(36px, 7vw, 68px);
  margin-bottom: 0.5rem;
}

h2 {
  font-family: $font-family-main;
  font-weight: 400;
  line-height: 1;
  font-size: clamp(30px, 6vw, 60px);
  margin-bottom: 1rem;
}
h4,
h5,
h6 {
  font-family: $font-family-main;
  font-weight: 400;
  color: $color-text-primary;
  line-height: 1.2;
  margin-bottom: 0.6em;
}

p {
  font-family: $font-family-main;
  color: $color-text-primary;
  font-size: clamp(14px, 1.8vw, 16px);
  margin-bottom: 0.8rem;
  line-height: 1.5;
}
a {
  color: $color-text-secondary;
}
label {
  margin-bottom: 5px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}
header {
  margin-bottom: 2rem;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: $color-text-random;
  box-shadow: 0 0 5px rgb(227, 61, 32);
}

@import "../scss/navbar"; // navbar

@import "../scss/about"; //about
@import "../scss/skills"; //skills set
@import "../scss/project"; // project
@import "../scss/contactMe"; // contactMe
